<main class="container">
    <div class="jumbotron">
        <h1>LogViewer</h1>
        <h2>Fast & Safe</h2>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <form class="form-group row">
                <div class="col-xs-10">
                    <label class="sr-only" for="path">Path to File</label>
                    <input type="text"
                           [(ngModel)]="filePath"
                           [ngModelOptions]="{ standalone: true }"
                           class="form-control"
                           id="path"
                           placeholder="/path/to/file">
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="btn btn-default" (click)="activateForwardReader()">View</button>
                </div>
            </form>
        </div>
        <div class="panel-body">
            <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ errorMessage }}
            </div>
            <div *ngIf="loadingFile" class="loader"></div>
            <table *ngIf="!loadingFile" class="table table-hover table-bordered table-condensed">
                <tbody>
                <tr *ngFor="let line of lines">
                    <td>{{ line.order }}</td>
                    <td>{{ line.content }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" (click)="activateForwardReader()">
                        <span class="glyphicon glyphicon-step-backward"></span>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" (click)="previousBlock()">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" (click)="nextBlock()">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" (click)="deactivateForwardReader()">
                        <span class="glyphicon glyphicon-step-forward"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>